<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552366389754-u0me98o4acbsajk1frh2t9774brpfal6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552366389754-u0me98o4acbsajk1frh2t9774brpfal6</string>
	<key>API_KEY</key>
	<string>AIzaSyB0Tjn_pWegYcDZS9kOZa6Awyi3TjSmHX0</string>
	<key>GCM_SENDER_ID</key>
	<string>552366389754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glowingcactus.selfdiary</string>
	<key>PROJECT_ID</key>
	<string>selfdiary-e99a7</string>
	<key>STORAGE_BUCKET</key>
	<string>selfdiary-e99a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552366389754:ios:3770866f4f25ec18118c43</string>
</dict>
</plist>